<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GitToSvn.CommandMappings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SvnBinary" value="c:\Program Files\TortoiseSVN\bin\svn" />
    <add key="GitBinary" value="c:\Program Files (x86)\Git\cmd\git" />
    <add key="SvnInfoArgument" value="info" />
    <add key="GitSvnInfoArgument" value="svn info" />
  </appSettings>
  <applicationSettings> 
    <GitToSvn.CommandMappings>
      <setting name="info" serializeAs="String">
        <value>svn info</value>
      </setting>
      <setting name="update" serializeAs="String">
        <value>svn rebase</value>
      </setting>
      <setting name="commit" serializeAs="String">
        <value>svn dcommit</value>
      </setting>
    </GitToSvn.CommandMappings>
  </applicationSettings>
</configuration>